@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .align-elements {
    @apply max-w-6xl mx-auto px-4;
  }
}

.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: #835656;
}

img {
  object-fit: cover;
}
